@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&family=Staatliches&display=swap");
body, body .contenedor .header .menu {
  display: flex;
  justify-content: space-between; }

/* Reglas generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #0d0d0d; }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  background-color: #f2c9cc;
  font-size: 16px;
  height: 100vh;
  flex-direction: wrap;
  /*yo antes había puesto column*/ }
  body a {
    text-decoration: none; }
  body .contenedor {
    margin: 1.25em auto;
    display: grid;
    grid-gap: 1.25em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 'header			header   	header' 'aside			aside	 	aside' 'contenido		contenido 	contenido' 'footer	 		footer 		footer';
    /* ---------- HEADER ----------*/
    /*---------- CONTENIDO ----------*/
    /*---------- FOOTER ----------*/ }
    body .contenedor .header {
      grid-area: header;
      padding: 1.251em;
      /*box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);*/ }
      body .contenedor .header .logo {
        margin-bottom: 1.25em;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 3px; }
        body .contenedor .header .logo h1 {
          font-size: 1.875em; }
        body .contenedor .header .logo .iniciales-logo {
          padding: 0.31em;
          border: 0.125em solid #0d0d0d;
          display: inline-block;
          font-size: 1em;
          margin-bottom: 0.93em; }
      body .contenedor .header .menu {
        border-top: 1px solid #0d0d0d;
        border-bottom: 1px solid #0d0d0d; }
        body .contenedor .header .menu .active {
          background-color: #0d0d0d;
          color: #f2f2f2 !important; }
        body .contenedor .header .menu a {
          padding: 0.625em;
          color: #0d0d0d;
          display: block;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 400;
          width: 100%;
          text-align: center;
          transition: 0.5s ease all;
          font-size: 1em; }
          body .contenedor .header .menu a:hover {
            background-color: #0d0d0d;
            color: #f2f2f2; }
    body .contenedor .contenido {
      grid-area: contenido;
      display: grid;
      grid-template-columns: 1;
      grid-gap: 1.25em; }
      body .contenedor .contenido .contenido-principal {
        width: 85%;
        margin: 0 auto; }
    body .contenedor .footer {
      font-size: 0.75em;
      grid-area: footer;
      padding: 1.56rem;
      /*box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);*/ }
      body .contenedor .footer .redes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 3.5em; }
        body .contenedor .footer .redes .fab {
          color: #0d0d0d;
          padding: 0.2em; }
          body .contenedor .footer .redes .fab .fa-instagram-square {
            color: #0d0d0d; }
          body .contenedor .footer .redes .fab .fa-facebook-square {
            color: #0d0d0d; }
        body .contenedor .footer .redes .fa .fa-envelope {
          color: #0d0d0d; }
      body .contenedor .footer .copyright {
        display: flex;
        justify-content: center; }

/*--- FAQS ---*/
/*---- botón ir arriba ----*/
.contenedor .ir-arriba {
  display: inline-block;
  padding: 20px;
  background-color: #0d0d0d;
  font-size: 1.5em;
  color: #f2c9cc;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px; }

/*---------- TATTOOS ---------*/
#galeriaTattoos .col-lg-4 {
  margin: 0;
  padding: 1em; }

#galeriaTattoos img {
  width: 100%; }
  #galeriaTattoos img:hover {
    border: 5px solid #f2c9cc; }

/*---------- FLASHES ---------*/
#galeriaFlashes .col-lg-4 {
  margin: 0;
  padding: 1em; }

#galeriaFlashes img {
  width: 100%; }
  #galeriaFlashes img:hover {
    border: 5px solid #f2c9cc; }

/*---------- CONTACTO ---------*/
.contenedor .contenedorForm {
  grid-area: contenido;
  grid-column: 2;
  justify-content: center;
  align-items: center; }
  .contenedor .contenedorForm form {
    width: 80vh;
    background-color: #f2f2f2;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 1rem; }

.btn {
  background-color: #0d0d0d;
  border-color: #0d0d0d; }
  .btn:hover {
    background-color: #0d0d0d;
    border-color: #0d0d0d; }
  .btn:visited {
    background-color: #0d0d0d;
    border-color: #0d0d0d; }
  .btn:active {
    background-color: #0d0d0d;
    border-color: #0d0d0d; }

/*---------- MEDIA QUERIES ----------*/
/* Dispositivos extra large (desktops 1288 and up)*/
@media (max-width: 1200px) {
  body {
    font-size: 14px; } }

/* Dispositivos grandes (desktops 992 and up)*/
@media (max-width: 992px) {
  body {
    font-size: 13px; }
  .header {
    font-size: 13px; } }

/* Dispositivos medianos (tablets 768 and up)*/
@media (max-width: 768px) {
  body {
    font-size: 12px; } }

/* Dispositivos chicos(landscape phone 576 and up)*/
@media (max-width: 576px) {
  body {
    font-size: 11px; }
  .contenedorForm form {
    width: 60vh; } }
