//GALERIA DE TATTOOS

/*---------- TATTOOS ---------*/

#galeriaTattoos {
    .col-lg-4 {
	margin: 0;
	padding: 1em;
    }
    img {
        width: 100%;
        &:hover {
            border: 5px solid $colorBase;
        }
    }
}
